body{
    font-family: Arial,sans-serif;
    margin: 0;
}
:root{
    --one:#ffffff95;
    --two:#192223;
    --three:#1e9f33;
    --four:#0CBCDA;
    --five:#E4493D;
    --six:#F39C11;
}
.sidebar{
    background:#222C32;
    color: #ffffff;
    width:17%;
   height: 130vh;
    margin-top: -40px;
   position: fixed;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.name h4{
    font-size: 17px;
    font-weight: 100;
}

.online{
    display: flex;
    align-items: center;
    margin:-25px 70px;
}

.online i{
    color:var(--three);
    font-size: 10px;
    margin-right: 5px;
}

.online p{
    font-size: 13px;
}

.search{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #8e8b8b4f;
    border: 1px solid #6666661d;
    border-radius: 2px;
    width: 90%;
    height: 5vh;
    margin: 20px 10px ;
}

.search p,.search i{
    margin: 10px ;
    font-size: 15px;
    color:var(--one)
}

.tools h5{
    padding:15px 10px ;
    background:var(--two);
    color: var(--one);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: -10px;
}

.dash{
    margin-left: 10px;
}

.dash span{
    margin-left: 10px;
    font-size: 13px;
}

.dash i{
    font-size: 13px;
}

.table{
    margin:20px 10px -10px;
}

.table span{
    margin-left: 10px;
    font-size: 13px;
}

.me h5{
    padding:15px 10px ;
    background:var(--two);
    color: var(--one);
   display: flex;
   align-items: center;
   font-size: 12px;
   font-weight: 100;
   margin-bottom: 15px;
   
}

.task{
    margin-left: 10px;
}

.task span{
    margin-left: 10px;
    font-size: 13px;
}

.settings{
    margin:20px 10px -10px;
}

.settings span{
    margin-left: 10px;
    font-size: 13px;
}


.logo h5{
   padding:15px 10px ;
   background:var(--two);
   color: var(--one);
   display: flex;
   align-items: center;
   font-size: 12px;
   font-weight: 100;
   margin-bottom: 15px;

}

.access{
    margin-left: 10px;
}

.access span{
    margin-left: 10px;
    font-size: 13px;
}

.server{
    margin:20px 10px -10px;
}

.server span{
    margin-left: 10px;
    font-size: 13px;
}

.repos{
    display: flex;
    align-items: center;
    margin:20px 10px -15px;
}

.repos span{
    margin-left: 10px;
    font-size: 13px;
}

.repos p{
    margin-left: 115px;
    background:var(--three);
    border: 1px solid var(--three);
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 5px;
}



.page h5{
   padding:15px 10px ;
   background:var(--two);
    color: var(--one);
   display: flex;
   align-items: center;
   font-size: 12px;
   font-weight: 100;
   margin-bottom: 15px;

}

.login{
    margin-left: 10px;
}

.login span{
    margin-left: 10px;
    font-size: 13px;
}

.login i{
    color:var(--six);
}

.error{
    margin:20px 10px -12px;
}

.error span{
    margin-left: 10px;
    font-size: 13px;
}

.error i{
    color: var(--five);
}


.main-head{
    margin-left: 260px;
    margin-top: 0;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heads h1{
    margin: 10px;
    font-size: 30px;
}

.heads span{
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
    color:#58565694;
}

.home{
    display: flex;
    align-items: center;
}

.home p,.home span{
    margin-right: 10px;
    font-size: 12px;
}

.home span{
    font-weight: bold;
    color: black;
}

.home i{
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 1px;
}

.source{
    background:var(--three);
    color: #ffffff;
}

.copilot{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: -10px;
}
.copilot p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;

}

.github{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.github i{
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 5px;
}
.content{
    display: flex;
    margin: 20px;
   
}
.box-1 {
    display: flex;
    align-items: center;
    width: 300px;
    height: 12vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color: #fff;
  
}

.icon1 {
    background-color:var(--four);
    padding: 19px;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icon1 i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.text-1 {
    margin-top: -10px;
    line-height: 8px;
 }
 
.text-1 h4 {   
    color: #000000;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 40px;
}
 
.text-1 p {
    margin-left: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}


.box-2 {
    display: flex;
    align-items: center;
    width: 300px;
    height: 12vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color: #fff;
    margin-left: 25px;
  
}

.icon2 {
    background-color:var(--five);
    padding: 19px;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icon2 i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.text-2 {
    margin-top: -10px;
    line-height: 8px;
}
 
.text-2 h4 {   
    color: #000000;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 70px;
}
 
.text-2 p {
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.box-3 {
    display: flex;
    align-items: center;
    width: 300px;
    height: 12vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color: #fff;
    margin-left: 25px;
  
}

.icon3 {
    background-color:var(--three);
    padding: 19px;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icon3 i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.text-3 {
    margin-top: -10px;
    line-height: 8px;
}

.text-3 h4 {   
    color: #000000;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 70px;
}
 
.text-3 p {
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}


.box-4 {
    display: flex;
    align-items: center;
    width: 300px;
    height: 12vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color: #fff;
    margin-left: 25px;
  
}

.icon4 {
    background-color:var(--six);
    padding: 19px;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icon4 i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.text-4 {
    margin-top: -10px;
    line-height: 8px;
 }
 
.text-4 h4 {   
    color: #000000;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 40px;
}
 
.text-4 p {
    margin-left: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.chart{
    border: 1px solid rgb(240, 238, 238);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.142);
    border-top: 3px solid #938b8b71;
    border-radius: 3px;
    height: 56vh;
    width: 93%;
    margin-left:40px;
}
 .graph-head{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.graph-head h4{
    margin-left: 240px;
   
}

.pie-head{
    margin-right: 220px;
}

.graph{
    display: flex;
    justify-content: space-between;
}

.graph img{
    margin: -20px 90px;
    width: 45%;
    height: 29vh;
}

.number-list {
    display: flex;
    flex-direction: column;
    font-size: 13px; 
    line-height: 9px;
    position: absolute;
    left: 22%;
    top: 49%;
 
}

.date {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px 80px;
    position: absolute;
    bottom: 15%;
}
  
.date p {
    display: block;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    font-size: 12px;
}

.date .d1{
    margin: 2px -4px;
}

.date .d2{
    margin: -2px 3px;
}

.date .d3{
    margin: 8px 3px;
}

.date .d4{
    margin: 14px 18px;
}

.date .d5{
    margin: 15px 2px;
}

.date .d6{
    margin: 13px 19px;
}

.date .d7{
    margin: 16px 2px;
}

.date .d8{
    margin: 5px 10px;
}

.date .d9{
    margin: -10px -15px;
}

.date .d10{
    margin: 1px 11px;
}

.date .d11{
    margin: -8px -17px;
}

.date .d12{
    margin: -8px 7px;
}


.pie-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 200px;
}

.pie-chart {
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        white 0deg 2deg,
        green 2deg 210deg, 
        white 210deg 212deg, 
        orange 212deg 345deg, 
        white 345deg 347deg, 
        deepskyblue 347deg 360deg
    );
}

.color-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 180px;

}

.web-box{
    display: flex;
    align-items: center;
    width: 50%;
}
.web-box h1{
    border: 5px solid #28396D;
    padding: 5px 0;
    width: 10%;
}
.web-box p{
    padding: 5px 0;
    width: 10%;
    border: 4px solid #44B4B8;
}

.web-box span{
    margin: 0 10px;
}

.pie-box{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 50px;
}

.pie-box h1{
    padding: 4px 0;
    width: 10%;
    background: #1e9f33;
    border: 4px solid #1e9f33 ;
}

.pie-box h2{
    padding: 4px 0;
    width: 10%;
    background:#F39C11;
    border: 4px solid #F39C11;
}

.pie-box h3{
    padding: 4px 0;
    width: 10%;
    background:#0CBCDA;
    border: 4px solid #0CBCDA;
}

.pie-box span{
    margin: 0 10px;
}


.pro-tip h5{
    font-size: 15px;
    font-weight:bold;
    margin-top: 15px;
}

.pro-tip span{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 100;
    
}

.foot{
    display: flex;
    margin-bottom: 30px;
}

.inventory {
    display: flex;
    align-items: center;
    width: 280px;
    height: 13vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color:var(--six);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.icons1 {
    background-color: #0d0d0d2a;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icons1 i {
    font-size: 50px;
    color: white;
}

.text1 {
    margin-top: -10px;
 }
 
.text1 h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 50px;
}
 
.text1 p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 70px;
}
 
.progress-bar1 {
    width: 133%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 8px 8px;
    position: relative;
}
 
.progress-bar1::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -4%;
}
 
.text1 .increase {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    font-weight: 100;
}

.mention {
    display: flex;
    align-items: center;
    width: 280px;
    height: 13vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color:var(--three);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.icons2 {
    background-color: #0d0d0d2a;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icons2 i {
    font-size: 50px;
    color: white;
}

.text2 {
    margin-top: -10px;
 }
 
.text2 h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 50px;
}
 
.text2 p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 70px;
}
 
.progress-bar2 {
    width: 129%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 8px 8px;
    position: relative;
}
 
.progress-bar2::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -4%;
}
 
.text2 .increase {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    font-weight: 100;
}

.download {
    display: flex;
    align-items: center;
    width: 280px;
    height: 13vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color:var(--five);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.icons3 {
    background-color: #0d0d0d2a;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icons3 i {
    font-size: 50px;
    color: white;
}

.text3 {
    margin-top: -10px;
}
 
 .text3 h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 50px;
}
 
.text3 p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 70px;
}
 
.progress-bar3 {
    width: 115%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 8px 8px;
    position: relative;
}
 
.progress-bar3::after {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -4%;
}
 
.text3 .increase {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    font-weight: 100;
}

 .direct {
    display: flex;
    align-items: center;
    width: 280px;
    height: 13vh;
    border: 1px solid #dddddd92;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
    background-color:var(--four);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.icons4 {
    background-color: #0d0d0d2a;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
}

.icons4 i {
    font-size: 50px;
    color: white;
}

.text4 {
    margin-top: -10px;
}
 
.text4 h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 25px;
}
 
 .text4 p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 70px;
 }
 
.progress-bar4 {
    width: 108%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 8px 8px;
    position: relative;
}
 
.progress-bar4::after {
    content: "";
    width: 40%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -4%;
}
 
.text4 .increase {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    font-weight: 100;
}